body {
    font-size: 5%;
}
.container {
    padding: 500px;
  }
  button,
  button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  button {
    background: none;
    border: 4px solid rgb(8, 8, 8);
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(8, 8, 8, 0.658), 0 17px 50px 0 rgba(24, 23, 23, 0.616);
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 5px ;
    padding: 20px 5px;
    position: relative;
    text-transform: uppercase;
  }
  button::before,
  button::after {
    background: rgba(231, 28, 28, 0.692);
    box-shadow: black;
    content: '';
    position: absolute;
    z-index: -1;
  }
  button:hover {
      
    color: #b41e1e;
  }
  .button3::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
  }
  .button3:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }