table{
     width: 400px; 
     box-shadow: 0 12px 16px 0 rgba(36, 184, 6, 0.411), 0 17px 50px 0 rgba(5, 170, 41, 0.493);
}

table, td, th{
   padding: 10px;
   border: 1px solid lightgray;
   border-collapse: collapse;
   text-align: center;
   cursor: pointer;
  }
.product{
    text-align: center;
}
.placeorder{
    text-align: center;   
}
table{
    left: 50%;
    right: 50%;
    width: 900px;
    height: 200px;
    border: 2px solid black;
    margin: auto;
    text-align: center;
    font-size: large;
    box-shadow: 12px 12px 20px 6px #2e6da4;
    font-size: 15px;
}

table tr:nth-child(odd){
    background: #BBCAE4;
}
table tr:nth-child(even){
    background: #dae5f4;
}


