{% extends 'myapp/base.html' %}
{% load static %}
<!DOCTYPE html>
        <html lang="en">
         <head>
          
           {% block body %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Product Stock Management</title>
         </head>
         <style>
           

         </style>
        
         <body>
            <center><h1 style="color: rgb(4, 85, 38);">Welcome Customer</h1></center><br>
            <center><a class="btn btn-dark btn-lg" href="/orderplace/" role="button">Place Order</a></center>
            <div class="container">
             <center> <button type="button" class="button3"><a href="/">back to home</a></button></center>
            </div>
          {% endblock %}
         </body>
        </html>