{% extends 'myapp/base.html' %}
{% load static %}
<html>
    <head> 
      <link rel="stylesheet" href="{% static 'myapp/homepage.css' %}">
     
    </head>
    <style>
      
      </style>
     <body>
      {% block body %}
       <meta charset="UTF-8">
       <meta name="viewport" content="width= device-width , initial-scale=1.0">
       <title> Manager </title>
       
       <body>
        <center><h1 style="font-size: 50px;"> WELCOME MANAGER</h1></center><br>
        <center><div><h2 ><a class="btn btn-success btn-lg" href="/add_stock/" role="button">Add Stock</a></center><br></div>
        <center><div><a class="btn btn-warning btn-lg" href="/productlist/" role="button">Product List</a></center><br></div>
        <center><div><a class="btn btn-dark btn-lg" href="/supplierorder/" role="button">Supplier</a></center></div>
        <div class="container">
          <center> <button type="button" class="button3"><a href="/">log out</a></button></center>
         </div>        
       </body>
       {% endblock %}
      
   </body>
</html>