{% extends 'myapp/base.html' %}
<!DOCTYPE html>
       <html lang="en">
         <head>
          {% block body %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Product Stock Management</title>
         </head>
        
         <body><br>
            <center><h1 style="font-size: 50px; color: rgb(124, 6, 6);">PRODUCT STOCK MANAGEMENT</h1></center><br>
            <center><h4 style="font-size: 30px;"><a class="btn btn-dark btn-outline-success btn-lg" href="/homepage/" role="button">MANAGER</a></h4></center><br>
            <center><h4 style="font-size: 30px;"><a class="btn btn-dark btn-outline-warning btn-lg" href="/cushomepage/" role="button">CUSTOMER</a></h4></center>
          {% endblock %}
         </body>
        </html>